<?php

declare(strict_types=1);

/*
 * TestForDatetimeInModelLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace TestForDatetimeInModelLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\QueryParam;
use CoreInterfaces\Core\Request\RequestMethod;
use TestForDatetimeInModelLib\Exceptions\ApiException;
use TestForDatetimeInModelLib\Models\DateTimeModel;
use TestForDatetimeInModelLib\Models\Rfc1123DateTime;
use TestForDatetimeInModelLib\Models\Rfc1123DateTimeArray;
use TestForDatetimeInModelLib\Models\Rfc1123DateTimeMap;
use TestForDatetimeInModelLib\Models\Rfc3339DateTimeArray;
use TestForDatetimeInModelLib\Models\Rfc3339DateTimeMap;
use TestForDatetimeInModelLib\Models\ServerResponse;
use TestForDatetimeInModelLib\Models\UnixDateTime;
use TestForDatetimeInModelLib\Models\UnixDateTimeArray;
use TestForDatetimeInModelLib\Models\UnixDateTimeMap;
use TestForDatetimeInModelLib\Utils\DateTimeHelper;

class BodyParamsController extends BaseController
{
    /**
     * @param \DateTime $datetime
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc3339DateTime(\DateTime $datetime): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc3339datetime')
            ->parameters(BodyParam::init($datetime)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTime']));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param \DateTime $datetime
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc1123DateTime(\DateTime $datetime): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc1123datetime')
            ->parameters(BodyParam::init($datetime)->serializeBy([DateTimeHelper::class, 'toRfc1123DateTime']));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param \DateTime $datetime
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendUnixDateTime(\DateTime $datetime): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/unixdatetime')
            ->parameters(BodyParam::init($datetime)->serializeBy([DateTimeHelper::class, 'toUnixTimestamp']));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param \DateTime[] $datetimes
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc3339DateTimeArray(array $datetimes): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc3339datetime')
            ->parameters(
                QueryParam::init('array', true),
                BodyParam::init($datetimes)->serializeBy([DateTimeHelper::class, 'toRfc3339DateTimeArray'])
            );

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param \DateTime[] $datetimes
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc1123DateTimeArray(array $datetimes): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc1123datetime')
            ->parameters(
                QueryParam::init('array', true),
                BodyParam::init($datetimes)->serializeBy([DateTimeHelper::class, 'toRfc1123DateTimeArray'])
            );

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param \DateTime[] $datetimes
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendUnixDateTimeArray(array $datetimes): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/unixdatetime')
            ->parameters(
                QueryParam::init('array', true),
                BodyParam::init($datetimes)->serializeBy([DateTimeHelper::class, 'toUnixTimestampArray'])
            );

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param Rfc1123DateTime $body
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc1123DateTimeInBodyAsModel(Rfc1123DateTime $body): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc1123DateTimeInModel')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param DateTimeModel $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc3339DateTimeInBodyAsModel(DateTimeModel $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/dateTimeInModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param UnixDateTime $body
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendUnixDateTimeInBodyAsModel(UnixDateTime $body): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/unixDateTimeInModel')
            ->parameters(BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param Rfc3339DateTimeArray $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc3339DateTimeArrayInBodyAsModel(Rfc3339DateTimeArray $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc3339DateTimeArrayAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param UnixDateTimeArray $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendUnixDateTimeArrayInBodyAsModel(UnixDateTimeArray $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/unixDateTimeArrayAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param Rfc3339DateTimeMap $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc3339DateTimeMapInBodyAsModel(Rfc3339DateTimeMap $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc3339DateTimeMapAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param Rfc1123DateTimeMap $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc1123DateTimeMapInBodyAsModel(Rfc1123DateTimeMap $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc1123DateTimeMapAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param UnixDateTimeMap $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendUnixDateTimeMapInBodyAsModel(UnixDateTimeMap $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/unixDateTimeMapAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param Rfc1123DateTimeArray $data
     *
     * @return ServerResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createSendRfc1123DateTimeArrayInBodyAsModel(Rfc1123DateTimeArray $data): ServerResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/body/rfc1123DateTimeArrayAsModel')
            ->parameters(BodyParam::init($data));

        $_resHandler = $this->responseHandler()->type(ServerResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
